
# urls to ping
declare -A urls
urls[yahoo]=http://www.yahoo.com/
urls[googl]=http://www.google.com/
urls[exmpl]=http://www.example.com/

# optional colors for graph (def: black)
declare -A color
color[yahoo]="#00FF00"
color[googl]="#00C4DE"
color[exmpl]="#B004DE"

# folder for saving error responses
dir=responses

# round-robin database file
rrd=hoststat.rrd
